@charset "ISO-8859-1";
/* Reset default browser styles */
body, form, input, label {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
	background-color: aqua;
}
/* Centering form */
form {
    width: 50%;
    margin: 20px auto;
}

/* Styling for labels */
label {
    display: block;
    margin-bottom: 10px;
}

/* Styling for input fields */
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Styling for checkboxes and labels */
div {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Styling for submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
