@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
}

h1, h3 {
    color: #333;
    justify-content: flex-start;
    
}

div {
    margin-top: 50px;
    text-align: center;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}
