/* Reset default browser styles */
body, div, form, input, label {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(230, 230, 250);
    opacity: 0.1px;
}
form{
	opacity: 0.5px;
	border-radius: 15px;
	color: black;
}
/* Add background image */
body {
    background-image: url('/images/addSong.jpg'); /* Replace 'your-image-url.jpg' with the URL or path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    opacity: 5px;
}

/* Centering form */
div {
    width: 50%;
    margin: 20px auto;
}

/* Styling for form header */
h4 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for labels */
label {
    display: block;
    margin-bottom: 10px;
}

/* Styling for input fields */
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Styling for submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
