<!DOCTYPE html>
<html xmlns:th='https://www.thymeleaf.org'>
<head>
<meta charset="ISO-8859-1">
	<meta charset="UTF-8">
<title>Customer HomePage</title>
</head>  
<body>
	<h2>Customer Page</h2>
	<div th:unless="${isPremium}" class="non-premium">
		<a href='pay'>Get Premium</a> <br><br>
		<a href='logout'>LOGOUT</a>
	</div>
	
	<div th:if="${isPremium}" class="premium">
		<table border=1>
			<thead>
				<tr>
					<th>Name</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Play</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "song : ${songs}">
					<td th:text="${song.name}"></td>
					<td th:text="${song.artist}"></td>
					<td th:text="${song.genre}"></td>
					<td >
						<audio controls>
							<source th:src="${song.link}" type="audio/mpeg" >
						</audio>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>