<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

	<meta charset="UTF-8">
<title>LogIn Module</title>
<style type="text/css">
	body{
		background-color: green;
	}
</style>
</head>
<body>
<form action="validation" method="post">
		
		<label>Email : </label>
		<input type="email" name="email" placeholder='enter your email'><br><br>
		<label>Password : </label>
		<input type="password" name="password" placeholder='enter your password'><br>
		<br><br>
		
		<input type='submit' value="LOGIN">
		
	</form>
</body>
</html>