<!DOCTYPE html>
<html xmlns:th='http://www.thymeeleaf.org'>
<head>
<meta charset="ISO-8859-1">

	<meta charset="UTF-8">
<title>Adding a new Song</title>
<link rel='stylesheet' th:href='@{/css/newSong.css}' >
</head>
<body>
<div>
	<h4>Enter Song details</h4>
	<form action="addSong" method="post">
		<label>Song Name : </label>
		<input type='text' name='name' /><br><br>
		<label>Song Artist : </label>
		<input type='text' name='artist' /><br><br>
		<label>Song Genre : </label>
		<input type='text' name='genre' /><br><br>
		<label>Song Link : </label>
		<input type='text' name='link' /><br><br>
		<input type="submit" value='ADD SONG' />
	</form>
</div>
</body>
</html>