<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

	<meta charset="UTF-8">
<title>Registration Module</title>
<link rel='stylesheet' th:href='@{/css/register.css}'>
</head>
<body>
	<!-- Register html code -->
	
	<div class='center'>		
		<form action="validate" method="post" class='form-tag'>
		<h3>SIGN-UP</h3>
			<label>UserName : </label>
			<input type="text" name="username" placeholder="username" required><br><br>
			<label>Email : </label>
			<input type="email" name="email" placeholder="email" required><br><br>
			<label>Password : </label>
			<input type="password" name="password" placeholder="password" required><br><br>
			<label>Gender : </label>
			<input type="radio" name="gender" value="male" required><label>Male</label>
			<input type="radio" name="gender" value="female" required><label>Female</label>
			<input type="radio" name="gender" value="others" required><label>Others</label><br><br>
			<label>Role : </label>
			<input type="radio" name="role" value="admin" required><label>Admin</label>
			<input type='radio' name="role" value='customer' required><label>Customer</label><br><br>
			<label>Address : </label>
			<textarea name='address' required></textarea><br><br>
			<input class='submit-button' type='submit' value="Register">
		</form>
	</div>
</body>
</html>